@page
@model NewMusicWebApp.Pages.PerformerTrackRoles.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PerformerTrackRole[0].PerformerTrack)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PerformerTrackRole[0].PerformerRole)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PerformerTrackRole) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PerformerTrack.PerformerTrackId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PerformerRole.PerformerRoleId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PerformerTrackRoleId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PerformerTrackRoleId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PerformerTrackRoleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
