@page
@model WebApp.Pages.Reviews.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].ReviewText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].TimePosted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].Stars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Review[0].Book)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Review) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimePosted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stars)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Summary)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ReviewId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ReviewId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ReviewId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
