@page
@model MusicFestivalWeb.Pages.OrganisedEvents.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrganisedEvent</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganisedEvent.EventName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganisedEvent.EventName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganisedEvent.TicketCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganisedEvent.TicketCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganisedEvent.TicketPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganisedEvent.TicketPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganisedEvent.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganisedEvent.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganisedEvent.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganisedEvent.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganisedEvent.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganisedEvent.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganisedEvent.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganisedEvent.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganisedEvent.PreparationTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganisedEvent.PreparationTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganisedEvent.CleanUpTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganisedEvent.CleanUpTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganisedEvent.Venue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganisedEvent.Venue.VenueAddress)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.OrganisedEvent.OrganisedEventId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
