@page
@model MusicFestivalWeb.Pages.Sets.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Set[0].SetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Set[0].SetDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Set[0].Person)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Set[0].Event)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Set) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SetDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.PersonId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.EventId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SetId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SetId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SetId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
