@page
@model MusicFestivalWeb.Pages.SetTracks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SetTrack[0].QueueNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SetTrack[0].PlannedPlayTimeInSeconds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SetTrack[0].ActualPlayTimeInSeconds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SetTrack[0].SetId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SetTrack[0].Track)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SetTrack) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QueueNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlannedPlayTimeInSeconds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualPlayTimeInSeconds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SetId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Track.TrackName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SetTrackId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SetTrackId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SetTrackId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
