@page
@using Game
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<form method="post">
    <div></div>
    <label asp-for="IsPaused"></label>
    <input hidden asp-for="IsPaused" type="hidden" value="@Model.IsPaused"/>
    <label asp-for="MachinePlay"></label>
    <input hidden asp-for="MachinePlay" type="hidden" value="@Model.MachinePlay"/>
    <label asp-for="GameBoard.Height"></label>
    <input asp-for="GameBoard.Height" value="@Model.GameBoard.Height"/>
    <label asp-for="GameBoard.Width"></label>
    <input asp-for="GameBoard.Width" value="@Model.GameBoard.Width"/>
    <label asp-for="GameBoard.SelectedColumn"></label>
    <input asp-for="GameBoard.SelectedColumn" value="@Model.GameBoard.SelectedColumn"/>
    <label asp-for="GameBoard.FirstMove"></label>
    <input asp-for="GameBoard.FirstMove" value="@Model.GameBoard.FirstMove"/>
    
    @foreach (var column in Model.GameBoard.PlayedColumns)
    {
        
        <input asp-for="@column" name="hiddenPlayedColumnsList" value="@column"/>
    }
    @foreach (var gamestate in Model.GameStates)
    {
        <input asp-for="@gamestate" name="hiddenGameStates" value="@gamestate"/>
    }
    @foreach (var menuType in Model.MenuView.MenuTypeIntegersPath)
    {
        <label asp-for="@menuType"></label>
        <input asp-for="@menuType" name="hiddenMenuStack" value="@menuType"/>
    }
    
    @foreach (var setting in Model.Settings.settings)
    {
        <label asp-for="Settings"></label>
        <input asp-for="@setting.Value" name="settings" value="@setting.Value"/>
    }
    <input asp-for="Settings.SelectedSetting" value="@Model.Settings.SelectedSetting"/>
    <table>
        
        @for (int i = 0; i < @Model.GameBoardArray.GetLength(0); i++)
        {    
            <tr>
                @for (int j = 0; j < @Model.GameBoardArray.GetLength(1); j++)
                {
                    <td>@Model.GameBoardArray[i, j]</td>   
                }
            </tr>
            
        }
    </table>
    <ul>
        @for (int i = 0; i < Model.MenuView.MenuItems.Count; i++)
        {
            <button type="submit" name="menuItemPushed" value="@i">@Model.MenuView.MenuItems[i]</button>
        }
    </ul>
    <label asp-for="Input"></label>
    <input asp-for="Input"/>
</form>
