@page
@model MusicFestivalWeb.Pages.Tracks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Track[0].TrackName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Track[0].Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Track[0].TimeSpan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Track[0].Vibe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Track[0].PopularityOutOfTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Track[0].MinutePrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Track) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrackName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeSpan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vibe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PopularityOutOfTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinutePrice)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TrackId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TrackId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TrackId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
