@page
@model MusicFestivalWeb.Pages.Festivals.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Festivals</h1>

<p>
    <a asp-page="Create">New Festival</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Festival[0].FestivalName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Festival[0].StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Festival[0].EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Festival[0].Venue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Festival) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FestivalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venue)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.FestivalId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.FestivalId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.FestivalId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
