@page
@model MusicFestivalWeb.Pages.OrganisedEvents.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OrganisedEvent</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganisedEvent.EventName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganisedEvent.EventName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganisedEvent.TicketCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganisedEvent.TicketCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganisedEvent.TicketPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganisedEvent.TicketPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganisedEvent.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganisedEvent.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganisedEvent.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganisedEvent.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganisedEvent.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganisedEvent.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganisedEvent.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganisedEvent.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganisedEvent.PreparationTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganisedEvent.PreparationTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganisedEvent.CleanUpTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganisedEvent.CleanUpTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganisedEvent.Venue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganisedEvent.Venue.VenueAddress)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="OrganisedEvent.OrganisedEventId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="/Festivals/Details" asp-route-id="@Model.FestivalId">Back to List</a>
    </form>
</div>
