@page
@model MusicFestivalWeb.Pages.EventSets.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Sets</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventSet[0].SetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventSet[0].Dj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventSet[0].Event)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.EventSet) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dj.LastNameFirstNameStageName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.EventName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EventSetId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.EventSetId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.EventSetId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
