@page
@model NewMusicWebApp.Pages.DjTracks.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DjTrack[0].Track)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DjTrack[0].Dj)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DjTrack) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Track.TrackId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dj.DjId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DjTrackId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DjTrackId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DjTrackId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
