@page
@model NewMusicWebApp.Pages.PerformerRoles.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PerformerRole[0].PerformerRoleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PerformerRole) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PerformerRoleName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PerformerRoleId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PerformerRoleId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PerformerRoleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
