@page
@model MusicFestivalWeb.Pages.Venues.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Venue</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Venue.VenueName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Venue.VenueName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Venue.VenueAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Venue.VenueAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Venue.HourlyPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Venue.HourlyPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Venue.SimplePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Venue.SimplePrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Venue.VenueId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
