@page
@model MusicFestivalWeb.Pages.ParticipantTypes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ParticipantType[0].ParticipantTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParticipantType[0].GetsHourly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParticipantType[0].HourlyWage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParticipantType[0].GetsFixedSum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParticipantType[0].FixedSum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ParticipantType) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParticipantTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetsHourly)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HourlyWage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetsFixedSum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FixedSum)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ParticipantTypeId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ParticipantTypeId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ParticipantTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
