@page
@model WebApp.Pages.CreateBookModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="None"  class="text-danger"></div>
            
            @Html.Partial("Shared/Partials/BookPartial", Model.BookPartialModel)
            @Html.Partial("Shared/Partials/LanguagePartial", Model.LanguagePartialModel)
            @if (Model.Book != null)
            {
                @Html.Partial("Shared/Publisher/PublisherPartial", Model.PublisherPartialModel)
            }
            else
            {
                @Html.Partial("Shared/Publisher/PickPublisher", Model.PickPublisherModel)
            }
            
            @Html.Partial("Shared/Partials/AuthorPartial", Model.AuthorPartialModel)
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
