@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="hello container">
    <div class="row hello align-items-center">
        <div class="col-2"></div>
        <div class="col-8 align-self-center">
            <div class="container">
                <form>
                    
                    <div class="row justify-content-start">
                        <div class="col-auto">
                            <label class="btn" style="font-size: 11pt; color: white">Search from:</label>
                            @*@for (var i = 0; i < Model.SearchButtons.Count; i++)
                            {
                                var item = Model.SearchButtons[i];
                                <input asp-for="SearchButtons[i].IsChecked" asp-route-search="@Model.SearchString" value="@Model.SearchString" class="haioo"/>
                                <label
                                    class=" btn toggle-label"
                                    for="SearchButtons_@(i)__IsChecked">
                                    @item.Title
                                </label>
                            }*@
                        </div>

                    </div>
                    <div class="row justify-content-end no-gutters">
                        <div class="col">
                            <input asp-for="SearchString" class="form-control "  placeholder="Moby Dick">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-dark">Go fetch!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-2"></div>
    </div>

</div>


<div class="container-fluid">
    <div class="row justify-content-center">
        @foreach (var item in Model.BookIndexDtos)
        {
            <div class="card col-sm m-3 p-3">
                <img src="resources/uzbekistan-forests.jpg" class="card-img-top rounded" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">@item.Summary</p>
                    <a href="#" class="btn btn-dark">Look at this book!</a>
                </div>
            </div>
        }
    </div>

</div>